* {
    margin: 0;
    padding: 0;
}

body {
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.output-window {
    width: 80vw;
    height: 50vh;
    border: 1px solid black;
}

.content, .alert {
    font-size: 1.2rem;
    width: 100%;
    background: grey;
}

.user-input {
    padding-top: 5vh;
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.user-input > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.message {
    display: block;
    font-size: 24px;
    height: 4em;
    width: 60%;
    resize: none;
}

input[type=submit] {
    font-size: 20px;
    width: 10%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid green;
}

.alert {
    width: 100%;
    text-align: center;
    background-color: grey;
    color: maroon;
}

.warning {
    width: 50vw;
    height: 10vh;
    position: absolute;
    left: 50%;
    top: -10vh;
    transform: translateX(-50%);
    background-color: red;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 0.5s all;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.warning.active {
    top: 0;
    transition: 0,5s all;
}